* {
    box-sizing: border-box;
}

#calculator-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#calculator {
    display: inline-block;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
}

#display {
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 32px;
    font-family: 'DM Mono', monospace;
    text-align: right;
    background-color: white;
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 black;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 5px;
    font-size: 24px;
    transition: 0.3s;
    border: none;
    outline: none;
}

.btn-long {
    width: 115px;
}

.btn-digit {
    background-color: #505050;
    color: white;
}

.btn-digit:hover {
    background-color: #d3d3d3;
    color: #505050;
}

.btn-operator {
    background-color: #ff9500;
    color: white;
}

.btn-operator:hover {
    background-color: white;
    color: #ff9500;
}

.btn-clear {
    background-color: #d4d4d2;
}

.btn-clear:hover {
    background-color: white;
}
