body {
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 10px;
    background: #1c1c1c;
}

.longTopRowAC {
    border: 0.25px solid #d4d4d2;
    margin: 5px;
    width: 115px;
    line-height: 2;
    font-size: x-large;
    text-align: center;
    color: #000000;    
    border-radius: 50px;
    background:#d4d4d2;
}

.longDigitZero
{
    border: 0.25px solid #505050;
    margin: 5px;
    width: 115px;
    line-height: 2;
    font-size: x-large;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    background: #505050;
}

.digit {
    margin: 5px;
    width:50px;
    height:50px;
    border: 0.25px solid #505050;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    background: #505050;
    font-size:x-large;
}

.operation {
    margin: 5px;
    width:50px;
    height:50px;
    border: 0.25px solid #FF9500;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    background: #FF9500;
    font-size:x-large;
}

.topRow {
    margin: 5px;
    width:50px;
    height:50px;
    border: 0.25px solid #d4d4d2;
    border-radius: 50%;
    color:#000000;
    text-align:center;
    background: #d4d4d2;
    font-size:x-large;
}

input
{
  padding:10px;
  border: 1px solid #ffffff;
  background: #1c1c1c;
  color: #ffffff;
  font-size:xx-large;
  text-align: right;
  width: 250px;
  height: 50px;
}

.digit:hover {
  background:#d3d3d3;  
}

.operation:hover {
    background:#ffffff;
    color: #ff9500;
}

.topRow:hover {
    background:#ffffff;
    color: #000000;
}

.longTopRowAC:hover {
    background:#ffffff;
    color: #000000;
}

.longDigitZero:hover {
    background:#d3d3d3;
}